CUSTOM_DOMAIN_NAME=my.app.example.com
R53_ZONE_ID=ZXYZ123
LAMBDA_VERSION=0.0.1

GITLAB_APPID=alphanum
GITLAB_SECRET=alphanum
GITLAB_SCOPES=openid+profile+email+api
GITLAB_AUTHORIZE_URL=https://gitlab.com/oauth/authorize
GITLAB_BOT_TOKEN=glpat-alphanum

SLACK_SIGNING_SECRET=alphanum
SLACK_INTERACTIVE_ENDPOINT_PATH=interactive-endpoint
SLACK_BOT_TOKEN=xoxb-alphanum

